body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.main-image {
    max-width: 80%;
    height: auto;
}

.text {
    font-size: 5rem;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 2s infinite;
}

@keyframes rainbow {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}

button {
    padding: 5px 15px; /* ボタンの内側の余白 */
    font-size: 1rem; /* フォントサイズ */
    color: black; /* 文字色 */
    background-color: white; /* 背景色 */
    border: none; /* 枠線なし */
    border-radius: 2.4px; /* 角を丸く */
    cursor: pointer; /* カーソルをポインタに */
    transition: transform 0.3s; /* アニメーションの設定 */
}

button:hover {
    transform: scale(0.2); /* カーソルを合わせた時に10%大きくする */
}
